$background-color: black;
$font-color: white;
$dimmed-font-color: #777;
$card-background: rgba(120, 120, 120, 0.1);
$card-background-focused: rgba($card-background, 0.3);
$tray-background-color: rgba(30, 30, 30);
$accent-color: #ff6961;
$transparent-accent-color: rgba($accent-color, 0.15);
$curve-amount: 0.5rem;
$animation: all 0.15s ease;
$font-size: 2.5rem;
$font-family: Arial, Helvetica, sans-serif;

#gradient {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

html {
  position: relative;
  background-color: $background-color;
  background-size: cover;
  height: 100%;
  width: 100%;

  & > * {
    color: $font-color;
    font-family: Arial, Helvetica, sans-serif;
  }
}

body {
  background-color: $background-color;
  overflow: hidden;
}

button {
  color: $font-color;
  background-color: $card-background;
  border-radius: $curve-amount;
  border-style: none;
  border-width: 1px;
  font-size: $font-size / 3;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  margin: 1px;

  &:hover {
    background-color: $card-background-focused;
    border-style: solid;
    border-color: $accent-color;
    margin: 0px;
  }
}

.btn--large {
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2em;
}

input[type="url"],
input[type="text"] {
  position: relative;
  border-radius: $curve-amount;
  color: $font-color;
  height: 40px;
  width: 90%;
  font-size: 38px;
  font-family: $font-family;
  padding: 10px;
  border-width: 2px;
  border-color: $card-background-focused;
  background-color: $card-background;
  font-weight: lighter;
  outline: none;
  content: "";

  &:focus {
    background-color: $card-background-focused;
  }
}

.content {
  margin: auto;
  position: relative;
  width: 50%;
  text-align: center;
  top: 300px;
}

.time-container {
  position: absolute;
  left: 20px;
  top: -10px;
  width: fit-content;

  & > #time {
    color: $dimmed-font-color;
    font-size: $font-size;

    &:hover {
      transition: $animation;
      color: $font-color;
      cursor: pointer;
    }
  }
}

#instant-answer-box {
  position: relative;
  font-size: 1.2em;
  color: $font-color;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  left: 0% !important;
  text-align: justify;
  text-align-last: center;
  margin: 0 auto;
  padding-top: 40px;
  width: 80%;
  left: -5%;
  word-spacing: 5px;
}

.favs {
  position: relative;
  margin: auto;
  top: 300px;
  color: $font-color;
  width: 80%;
  text-align: center;

  & > .fav {
    display: inline-block;
    color: $font-color;
    padding: 1em;
    font-size: 20pt;
    background-color: $card-background;
    padding-bottom: 3em;
    padding: 1em;
    margin: 10px;
    width: 187.5px;
    height: 37.5px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-decoration: none;
    transform: scale(1);
    transition: $animation;
    border-radius: $curve-amount;

    &:hover {
      transform: scale(1.1);
      border-style: solid;
      border-color: $accent-color;
      background-color: $card-background-focused;
      border-width: 4px;
      border-radius: $curve-amount * 2;
      cursor: pointer;

      .removeCardButton {
        display: block;
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: $curve-amount;
      }
    }

    a {
      display: block;
      position: relative;
      top: -50%;
      left: -10%;
      width: 120%;
      height: 200%;
    }

    & img {
      position: relative;
      top: 20px;
      width: 30px;
      height: 30px;
      word-wrap: anywhere;
      overflow-y: hidden;
      max-height: 30px;
    }
  }

  .removeCardButton {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border-style: none;
    padding: 1px;
    border-width: 1px;
    color: white;
    margin: 2px;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      background-color: $card-background-focused;
      border-style: solid;
      border-color: $card-background;
      border-width: 2px;
      margin: 0px;
    }
  }
}

// dragging event (added by draggable.ts)
.dragging {
  background-color: $transparent-accent-color !important;
  scale: 1.22;

  // the remove button should be hidden if the user is dragging the card
  .removeCardButton {
    display: none !important;
  }
}



.corner {
  position: absolute;
  top: 20px;
  right: 30px;
}

.settings-icon {
  position: a;
  color: $dimmed-font-color;
  font-size: $font-size / 1.8;
  text-decoration: none;
  transition: $animation;

  &:hover {
    color: $font-color;
  }
}

.settings-pane {
  display: none;
  position: absolute;
  left: 70%;
  top: 0px;
  height: calc(95% - 1px);
  width: calc(25% + 15px);
  background-color: $tray-background-color;
  padding: 40px;
  padding-top: 10px;
  border-left: $card-background;
  border-left-style: solid;

  animation: flyIn 0.5s ease-out;

  & > .close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .setting {
    margin-top: 40px;
  }
}

.settings-dropdown {
  position: relative;
  margin-top: 15px;
  color: $font-color;
  font-size: $font-size / 2;
  background-color: $card-background;
  border-color: $card-background-focused;
  border-radius: $curve-amount;
  padding: $curve-amount / 2;

  &:focus {
    border-color: $accent-color;
    background-color: $background-color;
  }
}

.command-pallet {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: $tray-background-color;
  width: 100%;
  height: 100%;

  & > .action-buttons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  & > #new-card-url-input {
    position: absolute;
    left: 50%;
    top: calc(50% - 100px);
    width: 45%;
    transform: translate(-50%, -50%);
  }
}

.divider {
  position: relative;
  border-color: $card-background-focused;
  border-width: 1px;
  border-style: solid;
  width: 100%;
}

// when on mobile
@media only screen and (max-width: 600px) {
  .content {
    top: 80px !important;
    width: 100%;
  }

  .favs {
    position: absolute;
    top: 150px !important;
    left: 10% !important;

    & > .fav {
      width: 38px !important;
      height: 38px !important;
    }
  }

  #instant-answer-box {
    text-align: center !important;
  }

  .settings-icon {
    display: none;
  }
}

@keyframes fallAway {
  0% {
    transform: rotateZ(0deg);
    top: 0;
    opacity: 1;
  }
  25% {
    transform: rotateZ(-15deg);
  }
  100% {
    top: 300px;
    transform: rotateZ(-5deg);
    opacity: 0;
  }
}

@keyframes flyIn {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}
