:root {
	--background-color: black;
	--font-color: white;
	--dimmed-font-color: #777;
	--card-background: rgba(120, 120, 120, 0.1);
	--card-background-focused: rgba(120, 120, 120, 0.3);
	--tray-background-color: rgba(30, 30, 30);
	--accent-color: #ff6961;
	--transparent-accent-color: rgba(var(--accent-color), 0.15);
	--curve-amount: 0.5rem;
	--animation: all 0.15s ease;
	--font-size: 2.5rem;
	--font-family: Arial, Helvetica, sans-serif;
}

html {
  position: relative;
  background-color: var(--background-color);
  background-size: contain;
  height: 100%;
  width: 100%;
  overflow: hidden;

  & > * {
    color: var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
  }
}

body {
  background-color: var(--background-color);
  overflow: hidden;
}

button {
  color: var(--font-color);
  background-color: var(--card-background);
  border-radius: var(--curve-amount);
  border-style: none;
  border-width: 1px;
  font-size: calc(var(--font-size) / 2.5);
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  margin: 1px;

  &:hover {
    background-color: var(--card-background-focused);
    border-style: solid;
    border-color: var(--accent-color);
    margin: 0px;
  }
}

#search-history {
  position: relative;
  text-align: start;
  padding-left: 1rem;
  margin-top: 0px;
  padding-top: 1px;
  width: 90%;
  max-width: 55rem;
  left: 50%;
  transform: translateX(-50%);

  border-top: none;
  background-color: var(--card-background);
  border-radius: var(--curve-amount);

  & > p {
    position: relative;
    padding: 0.8rem;
    margin: 0px;
    border-radius: var(--curve-amount);

    &:hover {
      cursor: pointer;
      color: var(--accent-color);
      background-color: var(--card-background-focused);
    }
  }

  &:has(p) {
    border: 1px solid var(--card-background-focused);
  }
}

#gradient {
  position: absolute;
}

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}

.btn--large {
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2em;
}

input[type="url"],
input[type="text"] {
  position: relative;
  border-radius: var(--curve-amount);
  color: var(--font-color);
  
  font-family: var(--font-family);
  padding: 1rem;
  border-width: 2px;
  border-color: var(--card-background-focused);
  background-color: var(--card-background);
  font-weight: lighter;
  outline: none;
  content: "";

  &:focus {
    background-color: var(--card-background-focused);
  }
}

input[type=checkbox] {
  accent-color: var(--accent-color);
}

#search-box {
  height: 40px;
  width: 90%;
  max-width: 55rem;
  font-size: 38px;
}

#background-image-input {
  width: 60%;
  font-size: calc(var(--font-size) / 2.5);
}

.content {
  margin: auto;
  position: relative;
  width: 80%;
  text-align: center;
  top: 30%;
}

.time-container {
  position: absolute;
  left: 20px;
  top: 20px;
  width: fit-content;
  width: fit-content;
  
  & > #calendar-link {
    text-decoration: none;

    & > #time {
      color: var(--dimmed-font-color);
      font-size: var(--font-size);
      font-family: var(--font-family);
  
      &:hover {
        transition: var(--animation);
        color: var(--font-color);
        cursor: pointer;
      }
    }
  }
}

#instant-answer-box {
  position: relative;
  font-size: 1.2em;
  color: var(--font-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  left: 0% !important;
  text-align: justify;
  text-align-last: center;
  margin: 0 auto;
  padding-top: 40px;
  width: 80%;
  left: -5%;
  word-spacing: 5px;
}

.favs {
  position: relative;
  margin: auto;
  top: calc(30% + 20px);
  color: var(font-color);
  width: 80%;
  text-align: center;

  & > .fav {
    display: inline-block;
    color: var(--font-color);
    padding: 1em;
    font-size: 20pt;
    background-color: var(--card-background);
    padding-bottom: 3em;
    padding: 1em;
    margin: 10px;
    width: 187.5px;
    height: 37.5px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-decoration: none;
    transform: scale(1);
    transition: var(--animation);
    border-radius: var(--curve-amount);

    &:hover {
      transform: scale(1.1);
      border-style: solid;
      border-color: var(--accent-color);
      background-color: var(--card-background-focused);
      border-width: 4px;
      border-radius: calc(var(--curve-amount) * 2);
      cursor: pointer;

      .removeCardButton {
        display: block;
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: var(--curve-amount);
      }
    }

    a {
      display: block;
      position: relative;
      top: -50%;
      left: -10%;
      width: 120%;
      height: 200%;
    }

    & img {
      position: relative;
      top: 20px;
      width: 30px;
      height: 30px;
      word-wrap: anywhere;
      overflow-y: hidden;
      max-height: 30px;
    }
  }

  .removeCardButton {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border-style: none;
    padding: 1px;
    border-width: 1px;
    color: white;
    margin: 2px;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      background-color: var(--card-background-focused);
      border-style: solid;
      border-color: var(--card-background);
      border-width: 2px;
      margin: 0px;
    }
  }
}

/* dragging event (added by draggable.ts) */
.dragging {
  background-color: var(--transparent-accent-color) !important;
  scale: 1.22;

  /* the remove button should be hidden if the user is dragging the card */
  .removeCardButton {
    display: none !important;
  }
}

.corner {
  position: absolute;
  top: 20px;
  right: 30px;
}

.settings-icon {
  position: a;
  color: var(--dimmed-font-color);
  font-size: calc(var(--font-size) / 1.8);
  text-decoration: none;
  transition: var(--animation);

  &:hover {
    color: var(--font-color);
  }
}

.settings-pane {
  position: absolute;
  left: 70%;
  top: 0px;
  height: 95%;
  width: calc(25% + 15px);
  background-color: var(--tray-background-color);
  padding: 40px;
  padding-top: 10px;
  border-left: var(--card-background);
  border-left-style: solid;
  transition: transform 0.5s ease-out;
  transform: translateX(200%);

  & > .close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .setting {
    margin-top: 40px;
  }
}

.active {
  transform: translateX(0%);
}

.settings-dropdown {
  position: relative;
  margin-top: 15px;
  color: var(--font-color);
  font-size: calc(var(--font-size) / 2);
  background-color: var(--card-background);
  border-color: var(--card-background-focused);
  border-radius: var(--curve-amount);
  padding: calc(var(--curve-amount) / 2);

  &:focus {
    border-color: var(--accent-color);
    background-color: var(--background-color);
  }
}

.command-pallet {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--tray-background-color);
  width: 100%;
  height: 100%;

  & > .action-buttons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  & > #new-card-url-input {
    position: absolute;
    left: 50%;
    top: calc(50% - 100px);
    width: 45%;
    transform: translate(-50%, -50%);
    font-size: 32px;
  }
}

.divider {
  position: relative;
  border-color: var(--card-background-focused);
  border-width: 1px;
  border-style: solid;
  width: 100%;
}

/* when on mobile */
@media only screen and (max-width: 600px) {
  .content {
    top: 80px !important;
    width: 100%;
  }

  .favs {
    position: relative;
    top: 100px !important;

    & > .fav {
      width: 38px !important;
      height: 38px !important;
    }
  }

  #instant-answer-box {
    text-align: center !important;
  }

  .settings-icon {
    display: none;
  }
}
