$background-color: black;
$font-color: white;
$dimmed-font-color: #999;
$card-background: rgba(100,100,100,0.1);
$card-background-focused: rgba(100,100,100,0.5);
$accent-color: purple;

#gradient {
  position: absolute;
  width: calc(100% - 8px);
  height: 100%;
  top: 0px;
}

html {
  position: relative;
  background-color: $background-color;
  background-size: cover;
  height: 100%;
  width: 100%;

  & > * {
    color: $font-color;
    font-family: Arial, Helvetica, sans-serif;
  }
}

body {
  background-color: $background-color;
}

.content {
  margin: auto;
  position: relative;
  width: 50%;
  text-align: center;
  top: 150px;

  #search-box {
    position: relative;
    border-radius: 8px;
    color: $font-color;
    height: 32px;
    width: 80%;
    font-size: 32px;
    font-family: sans-serif;
    padding: 10px;
    border-width: 2px;
    border-color: $accent-color;
    background-color: $card-background;
    font-weight: lighter;

    &:focus {
      background-color: $card-background-focused;
    }
  }
}

.time-container {
  position: absolute;
  left: 20px;
  top: -10px;
  width: fit-content;

  & > #time {
    color: $dimmed-font-color;
    font-size: 2.5em;

    &:hover {
      transition: all 0.15s ease;
      color: $font-color;
      cursor: pointer;
    }
  }
}

.favs {
  position: relative;
  margin: auto;
  top: 300px;
  color: $font-color;
  width: 80%;
  text-align: center;

  & > .fav {
    display: inline-block;
    color: $font-color;
    padding: 1em;
    font-size: 20pt;
    background-color: $card-background;
    padding-bottom: 3em;
    padding: 1em;
    margin: 10px;
    width: 150px;
    height: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    transform: scale(1);
    transition: all 0.15s ease;

    &:hover {
      transform: scale(1.1);
      border-style: solid;
      border-color: $accent-color;
      border-width: 4px;
      cursor: pointer;
    }

    & > img {
      width: 20px;
      height: 20px;
    }
  }  
}
